.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  margin: 0;
}

.btn-home {
  text-decoration: none;
}

.btn-home button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-home button:hover {
  background-color: #000000;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.form-group button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #048f22;
}

.lista {
  display: grid;
  grid-gap: 10px;
}

.item {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item h2 {
  margin: 0;
}

.item p {
  margin: 5px 0;
  color: #777;
}

.item button {
  margin-top: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.item button:hover {
  background-color: #dd0909;
}
